
main {
    height: 80vh;
}
.container {
    height: 100%;
    background-color: white;
    width: 60%;
    margin: 0 auto;
}
h2 {
    padding: 20px 0;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}
h3 {
    margin: 0 20px;
}
p {
    margin: 0 30px;
    text-align: justify;
}
li {
    list-style: disc;
}