
main {
    height: 90vh;
}
.container {
    height: 100%;
    background-color: white;
    width: 60%;
    margin: 0 auto;
}
h2 {
    padding: 20px 0;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}
h3 {
    margin: 0 20px;
}
p {
    margin: 0 30px;
    text-align: justify;
}
li {
    list-style: disc;
}
.github-link {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
#github-profile {
    height: 240px;
    width: 200px;
    border: 3px solid rgb(39, 39, 255);
    border-radius: 10px;
    animation-name: border-color-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes border-color-change {
    from {border: 3px solid rgb(39, 39, 255);}
    25% {border: 3px solid yellow;}
    50% {border: 3px solid red}
    75% {border: 3px solid green}
    to {border: 3px solid rgb(39, 39, 255);}
}