
main {
    height: 90vh;
}
.container {
    height: 100%;
    background-color: white;
    width: 60%;
    margin: 0 auto;
}
h2 {
    padding: 20px 0;
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}
h3 {
    margin: 0 20px;
}
p {
    margin: 0 30px;
    text-align: justify;
}
li {
    list-style: disc;
}
.github-link {
    display: flex;
    justify-content: center;
}
#github-profile {
    height: 240px;
    width: 200px;
    border: 3px solid rgb(39, 39, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px red;
    animation-name: shadow-color-change, border-color-change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes shadow-color-change {
    from {box-shadow: 10px 10px 5px 5px red;}
    50% {box-shadow: 10px 10px 5px 5px rgb(39, 39, 255);}
    to {box-shadow: 10px 10px 5px 5px red;}
}
@keyframes border-color-change {
    from {border: 3px solid rgb(39, 39, 255);}
    50% {border: 3px solid red}
    to {border: 3px solid rgb(39, 39, 255);}
}