body{
    margin: 0; 
    min-height: 100vh;
    font-family: sans-serif;
    background-color: rgba(92, 176, 215, 0.264);
}
header {
    width: 100%;
    height: 60px;
    display: block;
    background-color: white;
}
.inner-header {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: block;
    background-color: white;
}
.logo {
    margin: 0 auto;
    float: left;
    display: flex;
}
.logo img {
    height: 60px;
    width: 60px;
    margin: 0;
}
.web-name {
    float: left;
    height: 100%;
    margin: 0 auto;
    margin-left: 10px;
    display: table;
}
.web-name h1 {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: black;
    font-size: 32px;
}
.navigation {
    float: right;
    height: 100%;
    margin: 0 auto;
}
.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
search {
    width: 100%;
    height: 50px;
    display: block;
    background-color: rgb(57, 57, 193);
}
.content {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: block;
}
.search-bar {
    display: flex;
    float: left;
    height: 100%;
    width: 30%;
    align-items: center;
}
.search-bar form {
    display: flex;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    border-radius: 30px;
}
.search-bar form input {
    width: 60%;
}
.search-bar form input,
.search-bar form button {
    border: none;
    background-color: transparent;
    border-radius: 30px;
    outline: none;
    padding: 10px;
}
.information {
    height: 100%;
    font-size: 14px;
    display: flex;
    float: right;
    align-items: center;
    padding: 0 20px;
    color: white;
}
.information span:nth-child(1){
    padding-right: 16px;
}
main {
    width: 70%;
    margin: 16px auto 24px;
}
.container {
    border: 10px solid red;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 2em;
}
.item{
    border: 2px solid black;
    background-color: white;
}
.weather {
    grid-row: span 4;
    min-width: 350px;
    height: 100%;
    min-height: 300px;
    border-radius: 30px;
    box-shadow: 0 30px 50px #5553;
    padding: 0 30px;
    box-sizing: border-box;
    display: block;
}
.result {
    text-align: center;
}
.result .place {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.weather-img img {
    width: 150px;
    border-radius: 30px;
    filter: drop-shadow(10px 10px 3px #0003);
}
.temperature {
    font-size: 3em;
    margin: 5px;
}
.description {
    padding: 10px 0 10px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}
.weather ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0;
}
.weather li {
    background-color: #f78a55;
    color: white;
    border-radius: 10px;
    padding: 20px 10px;
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        #0003 50%
    );
    font-weight: bold;
    font-size: small;
}
.weather li i {
    font-size: 2em;
    display: block;
    margin: 20px 0;
}
.weather li:nth-child(2) {
    background-color: #b56291;
}
.weather li:nth-child(3){
    background-color: #48567b;
}
