main {
    width: 70%;
    margin: 16px auto 60px;
}
.container {
    background-color: transparent;
    display: grid;
    height: 622px;
    grid-template-rows: 151px, 451px;
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 20px;
}
.weather {
    grid-row: span 2;
    min-width: 400px;
    height: 100%;
    min-height: 300px;
    border-radius: 30px;
    background-color: white;
    padding: 0 30px;
    box-sizing: border-box;
    display: block;
}
.result {
    text-align: center;
}
.result .place {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.weather-img img {
    width: 150px;
    border-radius: 30px;
    filter: drop-shadow(10px 10px 3px #0003);
}
.temperature {
    font-size: 3em;
    margin: 5px;
}
.description {
    padding: 10px 0 10px;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}
.weather ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0;
}
.weather li {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 20px 10px;
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        #0003 50%
    );
    font-weight: bold;
    font-size: small;
}
.weather li i {
    font-size: 2em;
    display: block;
    margin: 20px 0;
}
.weather li:nth-child(2) {
    background-color: #9caacf;
}
.weather li:nth-child(3){
    background-color: rgba(243, 52, 52, 0.89);
}
.todays-weather {
    max-height: 150px;
}
.card-header {
    background-color: white;
    border-radius: 15px 15px 0 0;
    color: black;
    font-size: 12px;
    height: 30px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 1px;
    padding: 10px 20px 10px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.card-body {
    background-color: white;
    border-radius: 0 0 15px 15px;
    align-content: space-between;
}
.daily {
    height: 100px;
}
.day-info,
.night-info {
    display: flex;
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
}
.day-info i,
.night-info i {
    margin-right: 8px;
    color: blue;
}
.day-info p,
.night-info p {
    margin: 0;
}
.todays-icon {
    width: 20px;
    height: 20px;
    padding: 0 10px 0 5px;
}
.weekly-weather {
    max-height: 451px;
}
.weekly {
    height: 400px;
}
.weekly-list {
    display: flex;
    justify-content: space-between;
    margin: 20px 2.5%;
    width: 95%;
}
.day-item { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
    border: black solid 1px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
    gap: 5px;
}
.weekday-icon {
    width: 100%;
}
.data {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 0;
}
.alerts-logo {
    margin: 10px 0;
    display: flex;
    color: red;
    justify-content: center;
    font-size: 44px;
    font-weight: bold;
    gap: 10px;
}
.week-alerts {
    width: 95%;
    margin: 0 2.5%;
}
.week-alerts ul {
    list-style: circle;
}
.week-alerts li {
    font-weight: bold;
    margin: 10px 0;

}
.followers-pics {
    box-sizing: border-box;
    width: 80%;
    min-height: 575px;
    margin: 20px auto;
}
#slider-body {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: auto;
}
.slider {
    display: none;
}
.slider img {
    vertical-align: middle;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem --0.75rem hsla(0, 0%, 0%, 0.25);
}
.picture-description {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.slider-nav {
    display: flex;
    justify-content: center;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}